.orange-btn {
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	background: orange;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	color: white;
}

.orange-btn:hover {
	background: darkorange !important;
}
